<div id="viewport"><!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">FIFA 2022</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-inicio"></i> INICIO
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-creacion de ligas"></i> CREACION DE  LIGAS
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-mis ligas"></i> MIS LIGAS
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-equipos"></i> EQUIPOS
          </a>
        </li>
      </ul>
    </div>
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
              </a>
            </li>
            <li><a href="#">Bienvenido</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <h1>LIGAS</h1>
            <ul class="list-group">
            <li class="list-group-item disabled">Liga Española</li>
            <li class="list-group-item">LIGA CENTROAMERICANA</li>
            <li class="list-group-item">LIGA EUROPEA</li>
            <li class="list-group-item">LIGA ALEMANA</li>
            <li class="list-group-item">LIGA  AMERICANA</li>
            </ul>
      </div>
    </div>
  </div>
