<body id="fondo">
    <div class="container">
        <div class="row">
            <p>
                <br>
                <br>
            </p>
            <form>
                <div class="form-group">
                    <div class="col">
                        <label for="exampleInputEmail1" style="font-weight: bold;font-size:20px;color:whitesmoke">Nombre de la
                            liga</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Ingrese el nombre que desea llamar a su liga">
                    </div>
                    <p>
                    </p>
                    <div class="col">
                        <button (click)="navegar()"href="/principal" type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>