<body >
  <div class="container">
      <div class="container-fluid">
            <a  href="/principal" align="left">
              <button type="button" class="btn btn-primary">MENU</button> 
            </a>
            <a  href="/mis-ligas" align="left">
              <button type="button" class="btn btn-danger">REGRESAR</button>
            </a>
      </div>
      <form class="form-control-sm">
        <div class="table-responsive">
          <table class="table table-bordered table-sm table-dark ">
            <thead>
              <tr>
                <th scope="col">Posicion</th>
                <th scope="col">Participante</th>
                <th scope="col">Punteo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Josue</td>
                <td>50</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Elvis</td>
                <td>40</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Jhonathan</td>
                <td>35</td>
              </tr>
            </tbody>
        
          </table>
        </div>

      </form>
  </div>
  </body>

