

    <body id="fondo">
        <div class="premier-league-title center">
            <h4>Apuestas  UMG 2022</h4> 
            <h5>Oct, 2022</h5>                                       
        </div>
        <div class="container">
            <div class="container-fluid">
                  <a  href="/principal" align="left">
                    <button type="button" class="btn btn-primary">MENU</button> 
                  </a>
                  <a  href="/mis-ligas" align="left">
                    <button type="button" class="btn btn-danger">REGRESAR</button>
                  </a>
            </div>
            <form class="form-control-sm">
              <div class="table-responsive">
                <table class="table table-bordered table-sm table-dark ">
                  <thead>
                    <tr>
                        <th scope="col">FECHA</th>
                        <th scope="col" colspan="3">PARTIDOS</th>
                        <th scope="col">HORA</th>
                        <th scope="col">ESTADIO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th scope="row">Nov, 1 2022</th>
                        <td><a >Brasil</a>
                            <div class="form-group">
                                <label for="inputText" class="form-label"></label>
                                <input type="number" class="form-control"  formControlName="nombres"  placeholder="" required>
                              </div>
                        </td>
                        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/203px-Flag_of_Brazil.svg.png" alt="Nurnberg"> <br> vrs <br> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/203px-Flag_of_Argentina.svg.png" alt="Arsenal"></td>
                        <td><a >Argentina</a>
                            <div class="form-group">
                                <label for="inputText" class="form-label"></label>
                                <input type="number" class="form-control"  formControlName="nombres"  placeholder="" required>
                              </div>
                        </td>
                        <td>6:30 PM</td>
                        <td>Estadio Áhmad bin Ali</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Nov, 2 2022</th>
                        <td><a>Qatar</a>
                            <div class="form-group">
                                <label for="inputText" class="form-label"></label>
                                <input type="number" class="form-control"  formControlName="nombres"  placeholder="" required>
                              </div>
                        </td>
                        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Flag_of_Qatar.svg/203px-Flag_of_Qatar.svg.png" alt="Arsenal"> <br> vrs <br> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Flag_of_Senegal.svg/203px-Flag_of_Senegal.svg.png" alt="Everton"></td>
                        <td><a>Senegal</a>
                            <div class="form-group">
                                <label for="inputText" class="form-label"></label>
                                <input type="number" class="form-control"  formControlName="nombres"  placeholder="" required>
                              </div>
                        </td>
                        <td>2:00 AM</td>
                        <td href="https://hospitality.fifa.com/2022/es/the-stadiums/estadio-al-zumama/" >Club Friendly</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Nov, 23 2022</th>
                        <td><a >Espana
                            <div class="form-group">
                                <label for="inputText" class="form-label"></label>
                                <input type="number" class="form-control"  formControlName="nombres"  placeholder="" required>
                              </div>
                        </a>
                        </td>
                        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/203px-Bandera_de_Espa%C3%B1a.svg.png" alt="Arsenal"> <br> vrs <br> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Costa_Rica.svg/225px-Flag_of_Costa_Rica.svg.png" alt="Sevilla"></td>
                        <td><a >Costa Rica</a>
                            <div class="form-group">
                                <label for="inputText" class="form-label"></label>
                                <input type="number" class="form-control"  formControlName="nombres"  placeholder="" required>
                              </div>
                        </td>
                        <td>2:00 AM</td>
                        <td>Al Zumama</td>
                        <td></td>
                    </tr>                        
                </tbody>
              
                </table>
              </div>
              <div class="col" >
                <button type="submit" class="btn btn-primary" (click)="navegar()" href="/mis-ligas">APOSTAR</button>
            </div>
            <p>

            </p>

            </form>
        </div>
        </body>
      