<div id="viewport"><!-- Sidebar -->
  <div id="sidebar">
    <header>
      <p>
      <a >QUINIELA UMG</a>
    </p>
    </header>
    <ul class="nav">
      <li>
        <p>
        <a href="#">
          <button type="button" class="btn btn-info">INICIO</button>
        </a>
      </p>
      </li>
      <li>
      <p>
        <a (click)="creaLiga()" href="/modal-crear-ligas">
          <button type="button" class="btn btn-info">CREACION DE  LIGAS</button>
        </a>
      </p>
      </li>
      <li>
      <p>
        <a (click)="invitar()" href="/invitar">
          <button type="button" class="btn btn-info">UNIRSE A LIGA</button>
        </a>
      </p>
      </li>
      <li>
        <p>
        <a (click)="misLigas()" href="/mis-ligas">
          <button type="button" class="btn btn-info">MIS LIGAS</button>
        </a>
      </p>
      </li>
      <li>
        <p>
        <a (click)="clasifica()" href="/clasificaciones">
          <button type="button" class="btn btn-info">RESULTADO PARTIDOS</button>
        </a>
        </p>
      </li>
    </ul>
  </div>
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
          <li>
              <h1>BIENVENIDO</h1>
          </li>
        </ul>
      </div>
    </nav>
    <div class="contenedor">
          <ul class="list-group">
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 1</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 2</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 3</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 4</button>
          <li class="list-group-item disabled"></li>
          <button type="button" class="btn btn-primary btn-lg btn-block">Liga 5</button>
          <li class="list-group-item disabled"></li>
          </ul>
    </div>
  </div>
</div>

