<body>
    

<div class="container">
<div class="row g-3" >
    <form class="form-control-sm">
        <div class="col-md-8">
            <label for="inputText" class="form-label">Nombre Liga</label>
            <input type="text" class="form-control" id="inputText" placeholder="Ingrese nombre de la liga">
        </div>
       
        <div class="col-12" id="container">
            <button (click)="navegar()"href="/principal" type="submit" class="btn btn-primary">FINALIZAR</button>
            
          </div>
    </form>
</div>
</div>
</body>