<body id="body1">
    

<div class="container">
    
    <a  href="/principal" align="right">
        <button type="button" class="btn btn-danger d-flex">REGRESAR</button>
      </a>

    <label align="left" class="form-label">MIS LIGAS</label>
   

    
    <div class="row g-3">
        <form class="form-control-sm">
            <div class="col-sm-8" id="Ligas">

            </div>
            <div class="col-sm-8" id="Invita1">
                <input type="text" class="form-control" id="inputText" placeholder="Pendiente">
                <div class="col">
                    <button type="button" (click)="apostar()" href="/apostar" class="btn btn-outline-primary">APOSTAR</button>
                    <button type="button" (click)="clasifica()" href="/clasificaciones" class="btn btn-outline-secondary">CLASIFICACION</button>
                    <button type="button" (click)="invitar()" href="/invitar" class="btn btn-outline-warning">INVITAR</button>
                </div>
            </div>
            <div class="col-sm-8" id="Invita2">
                <input type="text" class="form-control" id="inputText" placeholder="Pendiente">
                <div class="col">
                    <button type="button" (click)="apostar()" href="/apostar" class="btn btn-outline-primary">APOSTAR</button>
                    <button type="button" (click)="clasifica()" href="/clasificaciones" class="btn btn-outline-secondary">CLASIFICACION</button>
                    <button type="button" (click)="invitar()" href="/invitar" class="btn btn-outline-warning">INVITAR</button>
                </div>
            </div>
            <div class="col-sm-8" id="Invita3">
                <input type="text" class="form-control" id="inputText" placeholder="Pendiente">
                <div class="col">
                    <button type="button" (click)="apostar()" href="/apostar" class="btn btn-outline-primary">APOSTAR</button>
                    <button type="button" (click)="clasifica()" href="/clasificaciones" class="btn btn-outline-secondary">CLASIFICACION</button>
                    <button type="button" (click)="invitar()" href="/invitar" class="btn btn-outline-warning">INVITAR</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
</body>

