form{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-49%, -49%);
    
}

label{
    color: rgb(236, 234, 234);
    font-weight: bold;
}

#divCentro{
    height:100px;
    width:900px;
     text-align:center;
}
